perspective-viewer {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 34%;
}

.json {
  box-sizing: border-box;
  background-color: #232323;
  border-left: 1px solid #404040;
  color: #dedede;
  position: absolute;
  padding: 20px;
  top: 40px;
  bottom: 0;
  width: 22%;
  overflow: overlay;
}

.data.to_json {
  right: 44%;
}

.data.to_columns {
  right: 22%;
}

.config.json {
  right: 0;
}

.toolbar {
  position: absolute;
  background-color: #232323;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #404040;
}

.toolbar label,
p {
  color: #dedede;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 10px;
}

#utc-time {
  filter: invert(1);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #404040;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #757575;
}
